# ======================================
# PYTHON
# ======================================
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
venv/
env/
ENV/
.venv/
.env/

# Paquetes
*.egg
*.egg-info/
dist/
build/
.eggs/

# Logs
*.log

# ======================================
# STREAMLIT / CACHE
# ======================================
.streamlit/
.streamlit/secrets.toml

# ======================================
# SISTEMA
# ======================================
.DS_Store
Thumbs.db

# ======================================
# DATASETS
# ======================================
data/raw/*
data/processed/*
data/annotations/*
!data/.gitkeep

# ======================================
# VIDEOS
# ======================================
*.mp4
*.avi
*.mov

# ======================================
# ENTORNOS / EDITORES
# ======================================
.vscode/
.idea/
*.swp
*.swo

# ======================================
# COMPILACIONES TEMPORALES
# ======================================
*.tmp
*.temp
*.aux
*.out

# ======================================
# ARCHIVOS DE SALIDA
# ======================================
*.png
*.jpg
*.jpeg
*.svg
plots/
outputs/
